.bg-dark { --background: #111; }

.product-card {
  background: #1a1a1a;
  color: #eaeaea;
  border-radius: 14px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  max-height: 280px;       /* Evita imagen gigante */
  object-fit: cover;       /* Recorta proporcional */
  display: block;
}

.price {
  font-weight: 600;
  margin-bottom: .5rem;
}

ion-grid { padding-bottom: 96px; } /* espacio para el FAB */

ion-fab-button { position: relative; }
.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #ef4444;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  padding: 4px 6px;
  border-radius: 9999px;
}
