<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(items$ | async) as items; else empty">
    <ion-item *ngFor="let it of items; let i = index">
      <ion-label>
        <div>{{ it.name }}</div>
        <small>
          {{ it.price | currency:'COP':'symbol':'1.0-0' }} x {{ it.qty }}
        </small>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="remove(i)">Quitar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div class="empty">Tu carrito está vacío</div>
  </ng-template>
</ion-content>

<ion-footer class="ion-padding" *ngIf="(items$ | async)?.length">
  <div class="total">
    Total:
    <strong>{{ total$ | async | currency:'COP':'symbol':'1.0-0' }}</strong>
  </div>
  <ion-buttons>
    <ion-button color="medium" (click)="clear()">Vaciar</ion-button>
    <ion-button expand="block">Pagar</ion-button>
  </ion-buttons>
</ion-footer>
