body{
  background-color: #000;
}
/* cards de productos */
/* From Uiverse.io by MuhammadHasann */
.card {
  --bg-card: #27272a;
  --primary: #20a412;
  --primary-800: #2fc71e;
  --primary-shadow: #2aff13;
  --light: #d2d2d2;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  max-width: 400px;
  width: 50%;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);

  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.60rem;
  color: var(--light);
}

.list-size {
  display: flex;
  gap: 0.09rem;

  margin-top: 0.25rem;

}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}
.item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}
label{
  color: #fff;
}
  /* subscripcion */
.container-subscripcion{
  align-items: center;
  gap: 20px;
  background: #000;

}
.imagen-subscripcion{
max-width: 200px;
width: 100%;
height: auto;
float: right;
margin-right: 90px;

}
.input-group {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0 20px 40px;
  background-color: black;
}
.comunidad{
  padding: 28px;
  background-color: #000;
  color: white;
  margin-left: 20px;
}
.comunidad-2{
  background-color: #000;
  color: white;
  margin-left: 20px;
}

.input {
  min-height: 50px;
  max-width: 600px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #19bb1f;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
  margin-left: 50px;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #29cf08;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #19bb1f;
}

.input:focus, .input:focus-visible {
  border-color: #19bb1f;
  outline: none;
}
