html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important; /* solo scrollea ion-content */
}

ion-app, ion-router-outlet, .ion-page {
  height: 100%;
}

body.cart-open { overflow: hidden; }
