    /* NAVBAR */
    nav {
      z-index: 2;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background:rgba(0,0,0,.05); backdrop-filter: blur(6px);
      padding: 15px 20px;
    }

    /* Logo */
    .image-container img{
      top: 6px;
      left: 15px;
      width: 70px;
      height: auto;
    }

    .image-container img{
      font-size: 22px;
      margin-right: 8px;
    }

    /* Enlaces */
    .nav-links {
      display: flex;
      gap: 25px;
      list-style: none;
    }

    .nav-links li a {
      text-decoration: none;
      color: rgb(55, 224, 40);
      font-size: 20px;
      transition: 0.3s;
    }

    .nav-links li a:hover {
      color: rgb(55, 224, 40);
    }

    /* Sección derecha */
    .nav-right {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .nav-right a {
      text-decoration: none;
      color: rgb(55, 224, 40);
      font-size: 20px;
      transition: 0.3s;
    }

    .nav-right a:hover {
      color: rgb(55, 224, 40);
    }

    ul li a {
      cursor: pointer;
    }
