<nav class="d-flex">
  <!-- Logo -->
  <div class="image-container">
    <img src="Logo/Logo_principal.png" alt="">
  </div>
<!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

  <!-- Links -->
  <ul class="nav-links" [class.active]="menuAbierto">
    <li class="personaliza" routerLink="/dashboard"><a>INICIO</a></li>
    <li class="personaliza" routerLink="/cascos/todos"><a>CASCOS</a></li>
    <li class="personaliza" routerLink="/accesorios"><a>ACCESORIOS</a></li>
  </ul>

  <!-- Derecha: Login/Admin/Logout + Carrito -->
  <div class="nav-right">
    @if (!loguiado) {
      <a routerLink="/loguin">Login</a>
    }
    <!-- Links -->


    <!-- Derecha -->
    <div class="nav-right">
      @if (loguiado) {
      <a routerLink="/administrador">ADMIN</a>
      <a (click)="logout()" routerLink="/login">Logout</a>
    }
</div>
    <button class="cart-btn" (click)="openCart()" aria-label="Carrito">
      <ion-icon name="cart-outline"></ion-icon>
      <span class="badge">{{ (count$ | async) ?? 0 }}</span>
    </button>
  </div>
</nav>
