body {
background-color: #000000;
font-family: Arial, sans-serif;
padding: 20px;
}
.carousel-item .active{
    max-width: 80%;
}
table {
width: 100%;
background: #000000;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
overflow: hidden;
margin: 10px 10px 10px 10px;
}
th, td {
padding: 12px 15px;
text-align: left;
border-bottom: 1px solid #0fc105;
color: #fff;
}
th {
font-weight: bold;
color: #fff;
}
.table tr td th{
  display: block;
  width: 100%;
}
.size {
  font-size: 0.75rem;
  color: white;
  --primary-shadow: #14c112;
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;

  font-size: 0.75rem;

  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
  display: block;
  width: 97%;
  }
tr {
  margin-bottom: 15px;
  border: 1px solid #0fc105;
  border-radius: 8px;
  padding: 10px;
  background: #000000;
  }

td {
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #0bdf1a;
  }

td:last-child {
  border-bottom: none;
}

td::before {
  content: attr(data-label);
  font-weight: bold;
  flex: 1;
  padding-right: 10px;
  color: #1aba0e;
    }
  }
